extends layout

block content
  if !user
    p#welcomeMessage Bienvenue sur le site #{title}
  else
    p#welcomeMessage Bienvenue sur le site #{title}, #{user}
  div#maincontent
    div#loggedUsersContainer
        div#loggedUsersTitle Utilisateurs connectés :
        div#loggedUsers
            if sessions
              if sessions.length > 1
                for item in sessions.users
                  if item != user
                    span(class="userButtons") #{item}
                    br
              else
                span Aucun
  div#webSocketMessage  