extends layout

block content
  p#welcomeMessage bienvenue sur le #{title}
  #loggerPageMainBlock
    #logBlock
        div.blocklabels connexion
        form#loggerForm(action="/log", name="logForm", method="post")
            #loggerFormTable
                #loggerFormLabels
                    p pseudo :
                    p Mot de passe : 
                #loggerFormImputs
                    input#logName(type="text", name="postedName")
                    br
                    input#logPass(type="text", name='postedPass')
            input#logSubmit(type="submit" method="post" value="envoyer")
    #registerBlock
        div.blocklabels s'enregistrer
        form#registerForm(action="/log", name="logForm", method="post")
            #registerFormTable
                #registerFormLabels
                    p pseudo :
                    p Mot de passe :
                #registerFormImputs
                    input#registerName(type="text", name="postedNewName" maxlength="20")
                    br
                    input#registerpass(type="text", name="postedNewPass" maxlength="20")
            input#registerSubmit(type="submit", method="post" value="envoyer")
  if logError
    p Error : #{logError}
  if logMessage
    p #{logMessage}
  
            