block logThumb
    if user
        div.container
            form#logThumbLogOut(action="/log", name="logThumbLogOut", method="post")
                span#logThumbLabel.label userlog : #{user}
                input#logOutButton.animatedButtons(type="submit" name="unsetAsked" method="post" value="logOut")
    