doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/morpion.css')
  body
    h1= title
    #titleBanner
        //à modifier
        #navlinks
            include ./navlinks.pug
        #logThumb
            include ./logthumb.pug
    div#gameContainer
    div#webSocketMessage
    script(src="./javascripts/socket.io/client-dist/socket.io.js")
    script(src="./javascripts/morpion-client.js")