body {
  background-color: #1867AB;
  background-image: url("../images/morpion/body.jpg");
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #7DF6E8;
  font-size: 40px;
  text-shadow: 3px 3px 6px #209D8F;
}

#titleBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  border-bottom: 1px solid grey;
}

#navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navlinks a {
  margin: auto 10px;
}

#navlinks .nav_buttons {
  display: inline-block;
  margin: auto;
  background: #011c37;
  color: #15DEA5;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  border-radius: 3.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 800ms, color 800ms, -webkit-transform 250ms;
  transition: background-color 800ms, color 800ms, -webkit-transform 250ms;
  transition: transform 250ms, background-color 800ms, color 800ms;
  transition: transform 250ms, background-color 800ms, color 800ms, -webkit-transform 250ms;
}

#navlinks .nav_buttons:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #023364;
  color: #19e6a5;
}

#logThumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* contexte sur le parent */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logThumbLogOutContainer {
  margin: auto;
}

#logThumbLabel {
  margin-right: 10px;
}

#logOutButton {
  display: inline;
  background-color: #011c37;
  color: #15DEA5;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 3.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 800ms, color 800ms, -webkit-transform 250ms;
  transition: background-color 800ms, color 800ms, -webkit-transform 250ms;
  transition: transform 250ms, background-color 800ms, color 800ms;
  transition: transform 250ms, background-color 800ms, color 800ms, -webkit-transform 250ms;
}

#logOutButton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #023364;
  color: #19e6a5;
}

#gameContainer {
  margin: auto;
  width: 601px;
  height: 601px;
  background-color: #7BD8F1;
  border: 1px black solid;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 6px #28106C;
          box-shadow: 6px 6px 6px #28106C;
  background-image: url("../images/morpion/container.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cols {
  height: 600px;
  width: 199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#col2 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cells {
  width: 199px;
  height: 199px;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cells p {
  font-size: 100px;
  margin: 0px;
  font-family: Comic Sans MS;
}

#c13, #c23, #c33 {
  border: none;
}

#webSocketMessage {
  color: aqua;
}

#webSocketMessage a {
  color: aqua;
}
/*# sourceMappingURL=morpion.css.map */