@mixin formBlock {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    box-shadow: inset 1px 1px 3px rgb(103, 118, 199);
    background-color: #ebf3fc;
}

body {
    background-image: url("../images/logger_claire2_base.png");
    background-position: top center;
}

#welcomeMessage, #testMessage
{
    text-align: center;
}

<<<<<<< HEAD
#loggerPageMainBlock
{
    display: flex;
    margin-top:60px;
    justify-content: space-around;
}

.formBlock {
    @include formBlock();
}

.form {
    text-align: center;
}

=======
>>>>>>> 17196a7849abbd6a43503245b3eeea97ea013997
.blocklabels {
    text-align: center;
    background-color: rgba(190, 207, 226, 0.4);
    padding: 0.5rem;
}

.formTable {
    display: flex;
    margin: 0.5rem 1.5rem;
}

<<<<<<< HEAD
=======
.form {
    text-align: center;
}

.submitButtons {
    margin: 0.5rem;
}

>>>>>>> 17196a7849abbd6a43503245b3eeea97ea013997
.inputLabels p {
    padding: 8px;
    margin: 0px;
    text-align: left;
}

<<<<<<< HEAD
.form-input {
    margin-top: 6px;
    margin-bottom: 6px;
    &.not-valid{
        border: 1px solid #000;
        background-color: rgb(252, 156, 156);
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:visited{
        border: 1px solid #000;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;;
        transition: background-color 5000s ease-in-out 0s;
        &.not-valid{
            border: 1px solid #000;
            -webkit-box-shadow: 0 0 0px 1000px rgb(252, 156, 156) inset;
            box-shadow: 0 0 0px 1000px rgb(252, 156, 156) inset;
            transition: background-color 5000s ease-in-out 0s;
        }
    }
}

.submitButtons {
    margin: 0.5rem;
}
=======
.inputBlock input {
    margin-top: 6px;
    margin-bottom: 6px;
}

#loggerPageMainBlock
{
    display: flex;
    margin-top:60px;
    justify-content: space-around;
}

.formBlock {
    @include formBlock();
}
>>>>>>> 17196a7849abbd6a43503245b3eeea97ea013997
