$cd-btn: #011c37;
$cd-btn-hover: #023364;
$cd-txt: #15DEA5;
$cd-txt-hover: #67f72e;

@mixin animatedButtons {
    background: $cd-btn;
    color: $cd-txt;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    border-radius: 3.5rem;
    transform: scale(1);
    transition: transform 250ms, background-color 800ms, color 800ms;
    &:hover {
        transform: scale(1.15);
        background-color: $cd-btn-hover;
        color: $cd-txt-hover;
    }
}

body {
    background-color: #1867AB;
    background-image: url("../images/morpion/body.jpg");
}

h1
{
    text-align: center;
    margin-top: 50px;
    color: #7DF6E8;
    font-size: 40px;
    text-shadow: 3px 3px 6px #209D8F;
}

#titleBanner
{
    display: flex;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid grey;
}

#navlinks
{
    display: flex;
    & a {
        margin: auto 10px;
    }
    & .nav_buttons {
        display: inline-block;
        margin:auto;
        @include animatedButtons();
    }
}

#logThumb
{
    display: flex; /* contexte sur le parent */
    justify-content: center;
    align-items: center;
    & .container {
        margin: auto;
    }
}

#logOutButton
{
    display: inline-block;
    margin: 0 1rem;
    border: none;
    @include animatedButtons();
}


#gameContainer
{
    margin: auto;
	width: 601px;
	height: 601px;
	background-color: #7BD8F1;
	border: 1px black solid;
	border-radius: 20px;
	box-shadow: 6px 6px 6px #28106C;
    background-image: url("../images/morpion/container.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.cols
{
    height: 600px;
    width: 199px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#col2
{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cells
{
    width: 199px;
    height: 199px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells p
{
    font-size: 100px;
    margin: 0px;
    font-family: Comic Sans MS;
    
}

#c13, #c23, #c33
{
    border: none;
}

#webSocketMessage
{
    color: aqua;
}

#webSocketMessage a
{
    color: aqua;
}