$cd-btn: #011c37;
$cd-btn-hover: #023364;
$cd-txt: #15DEA5;
$cd-txt-hover: #67f72e;

@mixin animatedButtons {
    background: $cd-btn;
    color: $cd-txt;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    border-radius: 3.5rem;
    transform: scale(1);
    transition: transform 250ms, background-color 800ms, color 800ms;
    &:hover {
        transform: scale(1.15);
        background-color: $cd-btn-hover;
        color: $cd-txt-hover;
    }
}

@mixin formBlock {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    box-shadow: inset 1px 1px 3px rgb(103, 118, 199);
    background-color: #ebf3fc;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: #f5faff;
}

header
{
    background-color: #e5f3ff;
}

a {
    color: #00B7FF;
    margin-right: 10px;
}

h1
{
    text-align: center;
    margin: 0px;
    padding: 0.67em;
}

#titleBanner
{
    display: flex;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid grey;
}

#navlinks
{
    display: flex;
    & a {
        margin: auto 10px;
    }
    & .nav_buttons {
        display: inline-block;
        margin:auto;
        @include animatedButtons();
    }
}

#logThumb
{
    display: flex; /* contexte sur le parent */
    justify-content: center;
    align-items: center;
    & .container {
        margin: auto;
    }
}

#logOutButton
{
    display: inline-block;
    margin: 0 1rem;
    border: none;
    @include animatedButtons();
<<<<<<< Updated upstream
}

//index
#welcomeMessage
{
    text-align: center;
}

#loggedUsersContainer
{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    width: max-content;
    overflow: hidden;
    margin-left: 4px;
    box-shadow: inset 1px 1px 3px rgb(103, 118, 199);
    background-color: #ebf3fc;
}

#loggedUsersTitle
{
    border-bottom: 1px solid #b0b0b0;
    background-color: rgba(190, 207, 226, 0.4);
    padding: 4px;
}

#loggedUsers
{
    padding: 4px;
    & .userButtons {
        cursor: pointer;
    }
}

#webSocketMessage
{
    text-align: center;
}

//logpage

.blocklabels {
    text-align: center;
    background-color: rgba(190, 207, 226, 0.4);
    padding: 0.5rem;
}

.formTable {
    display: flex;
    margin: 0.5rem 1.5rem;
}

.form {
    text-align: center;
}

.submitButtons {
    margin: 0.5rem;
}

.inputLabels p {
    padding: 8px;
    margin: 0px;
    text-align: left;
}

.inputBlock input {
    margin-top: 6px;
    margin-bottom: 6px;
}

#loggerPageMainBlock
{
    display: flex;
    margin-top:60px;
    justify-content: space-around;
}

.formBlock {
    @include formBlock();
=======
>>>>>>> Stashed changes
}